asgiref==3.7.2
certifi==2019.9.11
chardet==3.0.4
Django==4.2.5
django-taggit==4.0.0
gunicorn==20.0.4
idna==2.8
importlib-metadata==6.8.0
lxml==4.9.3
Markdown==3.4.4
numpy==1.25.2
pandas==2.1.0
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.22.0
six==1.16.0
sorl-thumbnail==12.5.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.25.7
whitenoise==4.1.4
zipp==3.16.2
